<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: #2C2C2C; font-family: sans-serif;">

    <div>
        <div style="max-width: 1000px; margin: 0 auto; background: #2C2C2C; padding: 5px; text-align: center; ">
            <div style="text-align: center; margin: 30px 0px">
                <img  src="https://www.carvonix.com/wp-content/uploads/elementor/thumbs/Carvonixlogo-px7t86dk8ne1n9rkxmij6btp7bjs4kr3y6sautc9u4.png" alt="Carvonix" style="max-width: 250px;">
            </div>
            <div style="background: #212225; border-radius: 30px 30px 0px 0px; padding: 30px;">
            <div style="width:100%; float:left">
            <img src="https://carvonix-test.s3.amazonaws.com/file%3A///data/user/0/com.carvonix.app/cache/react-native-image-crop-picker/mock-img-2.png" alt="Carvonix" style="margin: 0px 0px; width: 70%;">
            </div>
                
                <a href="#">
                    <img src="https://carvonix-test.s3.amazonaws.com/file%3A///data/user/0/com.carvonix.app/cache/react-native-image-crop-picker/button-2.png" alt="Carvonix" style="margin: 0px 0px; max-width: 250px;">
                </a>
            </div>
            <div style="background: #18191A; padding:30px; border-radius: 0px 0px 30px 30px; color: #fff;">
                <h2 style="margin-bottom:20px; padding:0px; font-weight: bold; font-size: 26px;">Forgot Password</h2>
                <p style="margin: 0 auto; padding:0px; max-width:700px; line-height: 24px; font-size: 16px;">Dear user, This OTP is system generated don't share with other's use this OTP: <b><%= otp %></b></p>
                 <br>
                 <p style="margin: 0 auto; padding:0px; max-width:550px; line-height: 24px; font-size: 16px;">If you didn't request this, please ignore this email. Your account's security is important to us.</p>
            </div>

            <div style="color: #8E8E93; padding: 30px; line-height:24px;">
                Copyright © 2023 Carvonix <br>
                1400 E. 69th Ave. Denver, Colorado 80229<br><br>
                You are receiving this email because you signed-up to create a member profile on Carvonix.com <br>
                or via the Carvonix App.  You can object to receiving further mailings <br>
                from us by clicking <a href="#" style="color:#387AFF; text-decoration:none;">unsubscribe.</a>
            </div>

        </div>
    </div>

</body>

</html>
